openapi: 3.2.0
info:
  title: Apitube News API
  version: 1.0.0
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  description: 'Operations tagged News across 2 of this provider''s published API definitions: apitube-apex-openapi.json, apitube-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.apitube.io
  description: Production API server
security:
- ApiKeyHeader: []
- ApiKeyQuery: []
tags:
- name: News
  description: Endpoints for searching and retrieving news articles
paths:
  /v1/news/everything:
    get:
      summary: Search all articles
      description: Search and filter articles from all sources. Supports keyword search, sentiment analysis, entity filtering, language/country filtering, date ranges, and sorting.
      operationId: getEverything
      tags:
      - News
      parameters:
      - name: api_key
        in: query
        description: Your API key (alternative to X-API-Key header)
        required: false
        schema:
          type: string
      - name: title
        in: query
        description: Search in article titles. Supports keywords and exact phrases (in quotes).
        required: false
        schema:
          type: string
        example: artificial intelligence
      - name: language.code
        in: query
        description: Filter by language (ISO 639-1 code). Up to 3 comma-separated values.
        required: false
        schema:
          type: string
        example: en
      - name: source.country.code
        in: query
        description: Filter by source country (ISO 3166-1 alpha-2). Up to 3 comma-separated values.
        required: false
        schema:
          type: string
        example: us
      - name: source.domain
        in: query
        description: Filter by source domain. Up to 3 comma-separated values.
        required: false
        schema:
          type: string
        example: theguardian.com
      - name: category.id
        in: query
        description: Filter by IPTC category ID. Up to 3 comma-separated values (OR logic).
        required: false
        schema:
          type: string
        example: medtop:15000000
      - name: topic.id
        in: query
        description: Filter by topic ID. Up to 3 comma-separated values (OR logic).
        required: false
        schema:
          type: integer
        example: 1
      - name: industry.id
        in: query
        description: Filter by industry ID. Up to 3 comma-separated values (OR logic).
        required: false
        schema:
          type: string
        example: '400'
      - name: entity.id
        in: query
        description: Filter by named entity ID. Up to 3 comma-separated values (OR logic).
        required: false
        schema:
          type: string
      - name: person.name
        in: query
        description: Filter articles mentioning a specific person. Up to 3 comma-separated values.
        required: false
        schema:
          type: string
        example: Elon Musk
      - name: organization.name
        in: query
        description: Filter articles mentioning a specific organization. Up to 3 comma-separated values.
        required: false
        schema:
          type: string
        example: Google
      - name: brand.name
        in: query
        description: Filter articles mentioning a specific brand. Up to 3 comma-separated values.
        required: false
        schema:
          type: string
        example: Nike
      - name: location.name
        in: query
        description: Filter by geographic location mentioned in the article. Up to 3 comma-separated values.
        required: false
        schema:
          type: string
        example: Tokyo
      - name: sentiment.overall.polarity
        in: query
        description: Filter by sentiment polarity.
        required: false
        schema:
          type: string
          enum:
          - positive
          - negative
          - neutral
      - name: sentiment.overall.score.min
        in: query
        description: Minimum overall sentiment score (-1 to 1).
        required: false
        schema:
          type: number
          format: float
          minimum: -1
          maximum: 1
      - name: sentiment.overall.score.max
        in: query
        description: Maximum overall sentiment score (-1 to 1).
        required: false
        schema:
          type: number
          format: float
          minimum: -1
          maximum: 1
      - name: entity.sentiment.polarity
        in: query
        description: Filter by sentiment polarity toward the entity. Combine with entity.id or *.name; standalone matches any entity with that sentiment.
        required: false
        schema:
          type: string
          enum:
          - positive
          - negative
          - neutral
      - name: entity.sentiment.score.min
        in: query
        description: Minimum sentiment score toward the entity (-1 to 1).
        required: false
        schema:
          type: number
          format: float
          minimum: -1
          maximum: 1
      - name: entity.sentiment.score.max
        in: query
        description: Maximum sentiment score toward the entity (-1 to 1).
        required: false
        schema:
          type: number
          format: float
          minimum: -1
          maximum: 1
      - name: published_at.start
        in: query
        description: Start of publication date range. ISO 8601 (YYYY-MM-DD) or relative (e.g. NOW-7DAYS).
        required: false
        schema:
          type: string
        example: '2024-01-01'
      - name: published_at.end
        in: query
        description: End of publication date range. ISO 8601 (YYYY-MM-DD) or relative (e.g. NOW).
        required: false
        schema:
          type: string
        example: NOW
      - name: sort.by
        in: query
        description: Field to sort results by.
        required: false
        schema:
          type: string
          enum:
          - published_at
          - created_at
          - relevance
          - sentiment.overall.score
          - source.rank.opr
          - read_time
          - engagement
          - quality
          - controversy
          - trust
        example: published_at
      - name: sort.order
        in: query
        description: Sort direction.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: per_page
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
      - name: page
        in: query
        description: Page number for pagination.
        required: false
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: source.bias
        in: query
        description: Filter by media bias classification. Up to 3 comma-separated values.
        required: false
        schema:
          type: string
          enum:
          - left
          - center
          - right
      - name: has_image
        in: query
        description: Filter articles that have at least one image (1=yes, 0=no).
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
      - name: is_breaking
        in: query
        description: Filter for breaking news only (1=yes, 0=no).
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
      - name: is_premium_source
        in: query
        description: Filter for premium sources with Open Page Rank >= 6 (1=yes).
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
      - name: fl
        in: query
        description: Comma-separated list of fields to return. Supports dot notation for nested fields.
        required: false
        schema:
          type: string
        example: id,title,source.domain,published_at
      responses:
        '200':
          description: Successful response with paginated list of articles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsListResponse'
              example:
                status: ok
                limit: 10
                page: 1
                has_next_pages: true
                next_page: https://api.apitube.io/v1/news/everything?page=2&per_page=10
                has_previous_page: false
                previous_page: ''
                request_id: 550e8400-e29b-41d4-a716-446655440000
                results: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      summary: Search all news articles
      tags:
      - News
      description: Search and filter news articles from thousands of sources worldwide. Supports advanced filtering by title, date, language, source, category, topic, industry, entity, sentiment, readability, media, location, and more. Results can be exported in multiple formats (CSV, TSV, XML, RSS, XLSX, Parquet, JSONL).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  minLength: 3
                  maxLength: 500
                  description: 'Plain-language description of the news you want, e.g. "Elon Musk, Tesla, news for the last 10 days". It is translated into the regular filters below before the search runs, and the resulting parameters are returned in meta.prompt. Explicit parameters always win over the prompt. Costs 2 extra points when the wording has not been parsed before (repeats are served from cache). Available on Basic and above — on Free and Starter the request fails with 403 ER0706. Errors: ER0706 (plan), ER0800 (length), ER0801 (translation service unavailable), ER0802 (nothing usable in the prompt).'
                page:
                  type: integer
                  minimum: 1
                  default: 1
                  description: Page number for pagination
                per_page:
                  type: integer
                  minimum: 1
                  maximum: 250
                  default: 100
                  description: Number of results per page (max 250; the Free plan is capped at 10 and Starter at 50)
                sort.by:
                  type: string
                  enum:
                  - published_at
                  - relevance
                  - engagement
                  - quality
                  - controversy
                  - trust
                  - id
                  - new
                  - created_at
                  - source.rank.opr
                  - sentiment.overall.score
                  - sentiment.title.score
                  - sentiment.body.score
                  - read_time
                  - sentences_count
                  - paragraphs_count
                  - characters_count
                  - media.images.count
                  - media.videos.count
                  - media.images.width.min
                  - media.images.width.max
                  - media.images.height.min
                  - media.images.height.max
                  - media_richness
                  - shares.facebook.min
                  - shares.facebook.max
                  - shares.twitter.min
                  - shares.twitter.max
                  - shares.reddit.min
                  - shares.reddit.max
                  default: published_at
                  description: Field to sort results by
                sort.order:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                  description: Sort order
                article.id:
                  type: string
                  description: Comma-separated article IDs (max 5)
                  example: '12345'
                title:
                  type: string
                  minLength: 2
                  maxLength: 100
                  description: 'Search in article titles. Supports phrase search with proximity: "climate change"~2. Title search is limited to a 31-day published_at window: without published_at.start / published_at.end the last 31 days are searched, a wider explicit range returns ER0110.'
                ignore.title:
                  type: string
                  minLength: 2
                  maxLength: 100
                  description: Exclude articles containing this text in the title
                title_starts_with:
                  type: string
                  minLength: 2
                  maxLength: 100
                  description: Filter articles whose title starts with the given text. Same 31-day window limit as title
                title_ends_with:
                  type: string
                  minLength: 2
                  maxLength: 100
                  description: Filter articles whose title ends with the given text. Same 31-day window limit as title
                title_pattern:
                  type: string
                  minLength: 2
                  maxLength: 200
                  description: Filter articles whose title matches the given pattern. Same 31-day window limit as title
                published_at:
                  type: string
                  description: 'Exact date (creates 24-hour range). Format: YYYY-MM-DD or ISO 8601'
                  example: '2025-01-15'
                published_at.start:
                  type: string
                  description: 'Start of date range. Format: YYYY-MM-DD or ISO 8601. Combined with a title search the range may not exceed 31 days (ER0110)'
                  example: '2025-01-01'
                published_at.end:
                  type: string
                  description: 'End of date range. Format: YYYY-MM-DD or ISO 8601. Combined with a title search the range may not exceed 31 days (ER0110)'
                  example: '2025-01-31'
                language.code:
                  type: string
                  description: Comma-separated ISO 639-1 language codes (max 3)
                  example: en
                ignore.language.code:
                  type: string
                  description: Exclude articles in these languages (comma-separated, max 3)
                  example: zh,ar
                source.country.code:
                  type: string
                  description: Filter by source country ISO 3166-1 alpha-2 codes (comma-separated, max 3)
                  example: us
                ignore.source.country.code:
                  type: string
                  description: Exclude sources from these countries (comma-separated, max 3)
                  example: us
                source.rank.opr.min:
                  type: integer
                  minimum: 0
                  description: Minimum Open PageRank score
                source.rank.opr.max:
                  type: integer
                  minimum: 0
                  description: Maximum Open PageRank score
                source.id:
                  type: string
                  description: Comma-separated source IDs (max 3)
                  example: '100'
                ignore.source.id:
                  type: string
                  description: Exclude these source IDs (comma-separated, max 3)
                source.domain:
                  type: string
                  description: Comma-separated source domains (max 3)
                  example: nytimes.com
                ignore.source.domain:
                  type: string
                  description: Exclude these source domains (comma-separated, max 3)
                source.bias:
                  type: string
                  description: 'Filter by media bias (comma-separated). Values: left, center, right'
                  example: left
                ignore.source.bias:
                  type: string
                  description: 'Exclude sources with this media bias (comma-separated). Values: left, center, right'
                  example: right
                is_premium_source:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter by premium source status
                is_verified_source:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter by verified source status
                category.id:
                  type: string
                  description: Comma-separated category IDs (max 3)
                  example: iab-1
                ignore.category.id:
                  type: string
                  description: Exclude these categories (comma-separated, max 3)
                topic.id:
                  type: string
                  description: Comma-separated topic IDs (max 3)
                  example: technology
                ignore.topic.id:
                  type: string
                  description: Exclude these topics (comma-separated, max 3)
                industry.id:
                  type: string
                  description: Comma-separated industry IDs (max 3)
                  example: '1'
                ignore.industry.id:
                  type: string
                  description: Exclude these industries (comma-separated, max 3)
                entity.id:
                  type: string
                  description: Comma-separated entity IDs (max 3)
                  example: '12345'
                ignore.entity.id:
                  type: string
                  description: Exclude these entity IDs (comma-separated, max 3)
                entity.sentiment.polarity:
                  type: string
                  enum:
                  - positive
                  - negative
                  - neutral
                  description: Filter by sentiment polarity toward the entity (combine with entity.id or *.name; standalone = any entity)
                entity.sentiment.score.min:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Minimum sentiment score toward the entity
                entity.sentiment.score.max:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Maximum sentiment score toward the entity
                person.name:
                  type: string
                  maxLength: 120
                  description: Filter by person name (comma-separated, max 3)
                  example: Elon Musk
                ignore.person.name:
                  type: string
                  maxLength: 120
                  description: Exclude articles mentioning these persons (comma-separated, max 3)
                organization.name:
                  type: string
                  maxLength: 120
                  description: Filter by organization name (comma-separated, max 3)
                  example: Google
                ignore.organization.name:
                  type: string
                  maxLength: 120
                  description: Exclude articles mentioning these organizations (comma-separated, max 3)
                location.name:
                  type: string
                  maxLength: 120
                  description: Filter by location name (comma-separated, max 3)
                  example: New York
                ignore.location.name:
                  type: string
                  maxLength: 120
                  description: Exclude articles mentioning these locations (comma-separated, max 3)
                brand.name:
                  type: string
                  maxLength: 120
                  description: Filter by brand name (comma-separated, max 3)
                ignore.brand.name:
                  type: string
                  maxLength: 120
                  description: Exclude articles mentioning these brands (comma-separated, max 3)
                disaster.name:
                  type: string
                  maxLength: 120
                  description: Filter by natural disaster name (comma-separated, max 3)
                ignore.disaster.name:
                  type: string
                  maxLength: 120
                  description: Exclude articles mentioning these disasters (comma-separated, max 3)
                disease.name:
                  type: string
                  maxLength: 120
                  description: Filter by disease name (comma-separated, max 3)
                ignore.disease.name:
                  type: string
                  maxLength: 120
                  description: Exclude articles mentioning these diseases (comma-separated, max 3)
                event.name:
                  type: string
                  maxLength: 120
                  description: Filter by event name (comma-separated, max 3)
                ignore.event.name:
                  type: string
                  maxLength: 120
                  description: Exclude articles mentioning these events (comma-separated, max 3)
                sport.name:
                  type: string
                  maxLength: 120
                  description: Filter by sport name (comma-separated, max 3)
                ignore.sport.name:
                  type: string
                  maxLength: 120
                  description: Exclude articles mentioning these sports (comma-separated, max 3)
                event.type:
                  type: string
                  description: 'Comma-separated event types (max 5). Values: merger-acquisition, ipo, layoffs, bankruptcy, product-launch, funding-round, earnings, partnership, executive-change, lawsuit, data-breach, recall, expansion, closure, stock-movement, contract-award, spin-off, regulatory-action, election, protest, crime, terrorism, accident, policy-change, scandal, death, award-ceremony, conflict, diplomacy, health-crisis, migration, human-rights, earthquake, hurricane, flood, wildfire, tornado, tsunami, volcanic-eruption, drought, climate-event, pollution, wildlife-event, avalanche'
                  example: ipo
                event.category:
                  type: string
                  enum:
                  - business
                  - society
                  - environment
                  description: Filter by event category
                ignore.event.type:
                  type: string
                  description: Exclude these event types (comma-separated, max 5)
                sentiment.overall.score:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Exact overall sentiment score
                sentiment.overall.score.min:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Minimum overall sentiment score
                sentiment.overall.score.max:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Maximum overall sentiment score
                sentiment.overall.polarity:
                  type: string
                  enum:
                  - positive
                  - negative
                  - neutral
                  description: Overall sentiment polarity
                sentiment.title.score:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Exact title sentiment score
                sentiment.title.score.min:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Minimum title sentiment score
                sentiment.title.score.max:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Maximum title sentiment score
                sentiment.title.polarity:
                  type: string
                  enum:
                  - positive
                  - negative
                  - neutral
                  description: Title sentiment polarity
                sentiment.body.score:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Exact body sentiment score
                sentiment.body.score.min:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Minimum body sentiment score
                sentiment.body.score.max:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Maximum body sentiment score
                sentiment.body.polarity:
                  type: string
                  enum:
                  - positive
                  - negative
                  - neutral
                  description: Body sentiment polarity
                sentiment.mixed:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter for mixed sentiment (title polarity != body polarity)
                sentiment.consistent:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter for consistent sentiment (title polarity == body polarity)
                is_clickbait:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter by clickbait detection
                sentiment_gap.min:
                  type: number
                  minimum: 0
                  maximum: 2
                  description: Minimum sentiment gap between title and body
                sentiment_gap.max:
                  type: number
                  minimum: 0
                  maximum: 2
                  description: Maximum sentiment gap between title and body
                media.images.count:
                  type: integer
                  minimum: 0
                  description: Exact number of images
                media.images.count.min:
                  type: integer
                  minimum: 0
                  description: Minimum number of images
                media.images.count.max:
                  type: integer
                  minimum: 0
                  description: Maximum number of images
                media.images.width.min:
                  type: integer
                  minimum: 0
                  description: Minimum image width in pixels
                media.images.width.max:
                  type: integer
                  minimum: 0
                  description: Maximum image width in pixels
                media.images.height.min:
                  type: integer
                  minimum: 0
                  description: Minimum image height in pixels
                media.images.height.max:
                  type: integer
                  minimum: 0
                  description: Maximum image height in pixels
                media.videos.count:
                  type: integer
                  minimum: 0
                  description: Exact number of videos
                media.videos.count.min:
                  type: integer
                  minimum: 0
                  description: Minimum number of videos
                media.videos.count.max:
                  type: integer
                  minimum: 0
                  description: Maximum number of videos
                has_image:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter articles with/without images
                has_video:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter articles with/without videos
                has_hq_images:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter articles with high-quality images (>= 1200px width)
                is_media_rich:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter articles with both images and videos
                is_landscape_media:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter articles with landscape-oriented media
                is_portrait_media:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter articles with portrait-oriented media
                has_multiple_images:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter articles with 2+ images
                has_fullhd_images:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter articles with Full HD images (>= 1920px width)
                has_4k_images:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter articles with 4K images (>= 3840px width)
                has_mobile_optimized_images:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter articles with mobile-optimized images (320-800px width)
                is_instagram_ready:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter articles with Instagram-ready images (>= 1080px + aspect ratio)
                is_twitter_card_ready:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter articles with Twitter Card-ready images (>= 800px + landscape)
                has_consistent_image_sizes:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter articles with consistent image dimensions
                has_thumbnail:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter articles with thumbnail images (<= 300px width)
                has_social_share_image:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter articles with social share images (>= 1200x630px)
                has_mixed_media:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter articles with both image and video media types
                readability.fk_grade:
                  type: number
                  minimum: 0
                  maximum: 30
                  description: Exact Flesch-Kincaid grade level
                readability.fk_grade.min:
                  type: number
                  minimum: 0
                  maximum: 30
                  description: Minimum Flesch-Kincaid grade level
                readability.fk_grade.max:
                  type: number
                  minimum: 0
                  maximum: 30
                  description: Maximum Flesch-Kincaid grade level
                readability.ease:
                  type: number
                  minimum: 0
                  maximum: 100
                  description: Exact Flesch Reading Ease score
                readability.ease.min:
                  type: number
                  minimum: 0
                  maximum: 100
                  description: Minimum Flesch Reading Ease score
                readability.ease.max:
                  type: number
                  minimum: 0
                  maximum: 100
                  description: Maximum Flesch Reading Ease score
                readability.ari:
                  type: number
                  minimum: 0
                  maximum: 30
                  description: Exact Automated Readability Index
                readability.ari.min:
                  type: number
                  minimum: 0
                  maximum: 30
                  description: Minimum Automated Readability Index
                readability.ari.max:
                  type: number
                  minimum: 0
                  maximum: 30
                  description: Maximum Automated Readability Index
                readability.difficulty:
                  type: string
                  enum:
                  - beginner
                  - intermediate
                  - advanced
                  - expert
                  description: Difficulty level
                readability.audience:
                  type: string
                  enum:
                  - children
                  - general
                  - professional
                  - academic
                  description: Target audience
                readability.age:
                  type: integer
                  minimum: 6
                  maximum: 22
                  description: Exact reading age
                readability.age.min:
                  type: integer
                  minimum: 6
                  maximum: 22
                  description: Minimum reading age
                readability.age.max:
                  type: integer
                  minimum: 6
                  maximum: 22
                  description: Maximum reading age
                is_easy_read:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter for easy-to-read articles (Flesch Reading Ease >= 60)
                is_difficult_read:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter for difficult-to-read articles (Flesch Reading Ease < 40)
                read_time:
                  type: integer
                  minimum: 0
                  maximum: 1000
                  description: Exact read time in minutes
                read_time.min:
                  type: integer
                  minimum: 0
                  maximum: 1000
                  description: Minimum read time in minutes
                read_time.max:
                  type: integer
                  minimum: 0
                  maximum: 1000
                  description: Maximum read time in minutes
                is_long_read:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter for long reads (>= 5 minutes)
                is_short_read:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter for short reads (< 3 minutes)
                is_quick_read:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter for quick reads (<= 2 minutes)
                is_medium_read:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter for medium-length reads (3-7 minutes)
                is_deep_dive:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter for deep dives (>= 10 minutes)
                location.bbox:
                  type: string
                  description: 'Bounding box: minLat,maxLat,minLng,maxLng'
                  example: 40.0,41.0,-74.5,-73.5
                has_location_geo:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter articles with/without geo-location data
                location.lat:
                  type: number
                  minimum: -90
                  maximum: 90
                  description: Latitude for radius search
                location.lng:
                  type: number
                  minimum: -180
                  maximum: 180
                  description: Longitude for radius search
                location.radius:
                  type: number
                  exclusiveMinimum: 0
                  maximum: 20000
                  description: Search radius in kilometers (requires location.lat and location.lng)
                location.radius.min:
                  type: number
                  minimum: 0
                  maximum: 20000
                  description: Minimum distance from point in km
                is_duplicate:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter duplicate/unique articles
                is_paywall:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter paywalled articles
                is_breaking:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter breaking news articles
                is_high_quality:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter high-quality articles (not duplicate, rank >= 5, has images, has author)
                author.id:
                  type: string
                  description: Comma-separated author IDs (max 3)
                ignore.author.id:
                  type: string
                  description: Exclude these author IDs (comma-separated, max 3)
                author.name:
                  type: string
                  maxLength: 100
                  description: Filter by author name (comma-separated, max 3)
                ignore.author.name:
                  type: string
                  maxLength: 100
                  description: Exclude articles by these authors (comma-separated, max 3)
                has_author:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter articles with/without author
                facet:
                  type: string
                  enum:
                  - '0'
                  - '1'
                  description: Enable faceting
                facet.field:
                  type: string
                  description: 'Comma-separated facet fields (max 5). Values: source.id, source.country.id, source.bias, language.id, author.id, category.id, topic.id, industry.id, entity.id, sentiment.overall.polarity, sentiment.title.polarity, sentiment.body.polarity, sentiment.strength, is_duplicate, is_free, is_important, media.images.count, media.videos.count, read_time, content.length, published.year, published.month, published.day_of_week, published.hour, published.weekday, published.time_of_day'
                  example: source.id,category.id
                facet.limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 10
                  description: Maximum number of facet values per field (max 100)
                facet.mincount:
                  type: integer
                  minimum: 1
                  default: 1
                  description: Minimum count for a facet value to be included
                facet.range:
                  type: string
                  enum:
                  - '0'
                  - '1'
                  description: Enable range faceting
                facet.range.field:
                  type: string
                  description: 'Field for range faceting. Values: published_at, sentiment.overall.score, sentiment.title.score, sentiment.body.score, read_time, source.rank.opr, media.images.count, media.videos.count'
                facet.range.start:
                  type: string
                  description: Start value for range faceting (required with facet.range)
                facet.range.end:
                  type: string
                  description: End value for range faceting (required with facet.range)
                facet.range.gap:
                  type: string
                  default: +1DAY
                  description: Gap value for range faceting
                hl:
                  type: string
                  enum:
                  - '0'
                  - '1'
                  description: Enable highlighting
                hl.fl:
                  type: string
                  default: title,description
                  description: 'Comma-separated fields to highlight (max 5). Values: title, description, body'
                  example: title,description
                hl.fragsize:
                  type: integer
                  minimum: 50
                  maximum: 500
                  default: 150
                  description: Size of highlighted fragment in characters (50-500)
                hl.snippets:
                  type: integer
                  minimum: 1
                  maximum: 10
                  default: 3
                  description: Number of highlighted snippets per field (max 10)
                hl.tag.pre:
                  type: string
                  description: Opening tag for highlighted text
                  default: <em>
                hl.tag.post:
                  type: string
                  description: Closing tag for highlighted text
                  default: </em>
                export:
                  type: string
                  enum:
                  - json
                  - csv
                  - tsv
                  - xml
                  - rss
                  - xlsx
                  - parquet
                  - jsonl
                  - ndjson
                  description: Export format
                fl:
                  type: string
                  description: Comma-separated list of fields to include in the response
                  example: id,title,published_at,source.domain
                debug:
                  type: string
                  enum:
                  - '0'
                  - '1'
                  description: Include user_input in response for debugging
                api_key:
                  type: string
                  description: API key (alternative to X-API-Key header)
      responses:
        '200':
          description: Successful response with articles
          content:
            application/json:
              schema:
                description: Successful response with articles
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - ok
                    description: Response status
                  limit:
                    type: integer
                    description: Results per page
                  path:
                    type: string
                    description: Current request URL
                  page:
                    type: integer
                    description: Current page number
                  has_next_pages:
                    type: boolean
                    description: Whether more pages are available
                  next_page:
                    type: string
                    description: URL for the next page (empty if no next page)
                  has_previous_page:
                    type: boolean
                    description: Whether a previous page exists
                  previous_page:
                    type: string
                    description: URL for the previous page (empty if no previous page)
                  export:
                    type: object
                    description: Export format URLs
                    properties:
                      json:
                        type: string
                      xlsx:
                        type: string
                      csv:
                        type: string
                      tsv:
                        type: string
                      xml:
                        type: string
                      rss:
                        type: string
                      parquet:
                        type: string
                      jsonl:
                        type: string
                  request_id:
                    type: string
                    description: Unique request identifier
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Unique article ID
                        href:
                          type:
                          - string
                          - 'null'
                          description: Original article URL
                        published_at:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          description: Publication date in ISO 8601
                        title:
                          type:
                          - string
                          - 'null'
                          description: Article title
                        description:
                          type:
                          - string
                          - 'null'
                          description: Article description (plain text)
                        body:
                          type:
                          - string
                          - 'null'
                          description: Article body (plain text)
                        body_html:
                          type:
                          - string
                          - 'null'
                          description: Article body (HTML)
                        language:
                          type: string
                          description: ISO 639-1 language code
                        translations:
                          type: object
                          description: Machine translations of the article title and description. Always present; fields stay null for English articles and for languages without a translation model
                          properties:
                            en:
                              type: object
                              properties:
                                title:
                                  type:
                                  - string
                                  - 'null'
                                  description: Title translated to English
                                description:
                                  type:
                                  - string
                                  - 'null'
                                  description: Description translated to English (plain text)
                        author:
                          type: object
                          properties:
                            id:
                              type:
                              - integer
                              - 'null'
                              description: Author ID
                            name:
                              type: string
                              description: Author name
                        image:
                          type: string
                          description: Main article image URL
                        categories:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: Category ID
                              name:
                                type: string
                                description: Category name
                              score:
                                type: number
                                description: Relevance score
                              taxonomy:
                                type: string
                                description: Taxonomy identifier
                              links:
                                type: object
                                properties:
                                  self:
                                    type: string
                                    description: Link to category endpoint
                        topics:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Topic ID
                              name:
                                type: string
                                description: Topic name
                              score:
                                type: number
                                description: Relevance score
                              links:
                                type: object
                                properties:
                                  self:
                                    type: string
                                    description: Link to topic endpoint
                        industries:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: Industry ID
                              name:
                                type: string
                                description: Industry name
                              links:
                                type: object
                                properties:
                                  self:
                                    type: string
                                    description: Link to industry endpoint
                        entities:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: Entity ID
                              name:
                                type: string
                                description: Entity name
                              type:
                                type: string
                                enum:
                                - person
                                - location
                                - organization
                                - brand
                                - product
                                - natural-disaster
                                - disease
                                - event
                                - sport
                                - unknown
                                description: Entity type
                              frequency:
                                type: integer
                                description: Number of mentions in the article
                              sentiment:
                                type: object
                                description: Sentiment toward this entity (aggregated across its mentions)
                                properties:
                                  score:
                                    type: number
                                    description: Entity sentiment score from -1 (negative) to 1 (positive)
                                  polarity:
                                    type: string
                                    enum:
                                    - positive
                                    - negative
                                    - neutral
                                    - ''
                                    description: Entity sentiment polarity
                                  mentions:
                                    type: object
                                    description: Per-mention polarity breakdown
                                    properties:
                                      positive:
                                        type: integer
                                      neutral:
                                        type: integer
                                      negative:
                                        type: integer
                              title:
                                type: object
                                properties:
                                  pos:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        start:
                                          type: integer
                                          description: Start character offset
                                        end:
                                          type: integer
                                          description: End character offset
                                    description: Mention positions in title
                              body:
                                type: object
                                properties:
                                  pos:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        start:
                                          type: integer
                                          description: Start character offset
                                        end:
                                          type: integer
                                          description: End character offset
                                    description: Mention positions in body
                              links:
                                type: object
                                properties:
                                  self:
                                    type: string
                                    description: Link to entity endpoint
                                  wikipedia:
                                    type: string
                                    description: Wikipedia URL
                                  wikidata:
                                    type: string
                                    description: Wikidata URL
                              metadata:
                                type: object
                                description: Additional entity metadata (varies by entity type)
                                additionalProperties: true
                        locations_mentioned:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: Location name
                              country:
                                type: string
                                description: Country code
                              lat:
                                type:
                                - number
                                - 'null'
                                description: Latitude
                              lng:
                                type:
                                - number
                                - 'null'
                                description: Longitude
                              type:
                                type: string
                                description: Location type
                        source:
                          type: object
                          properties:
                            id:
                              type:
                              - integer
                              - 'null'
                              description: Source ID
                            domain:
                              type: string
                              description: Source domain
                            home_page_url:
                              type: string
                              description: Source home page URL
                            type:
                              type: string
                              description: Source type
                            bias:
                              type: string
                              description: Media bias (left, center, right)
                            rankings:
                              type: object
                              properties:
                                opr:
                                  type: integer
                                  description: Open PageRank score
                            location:
                              type: object
                              properties:
                                country_name:
                                  type: string
                                  description: Source country name
                                country_code:
                                  type: string
                                  description: Source country ISO code
                            favicon:
                              type: string
                              description: Source favicon URL
                        sentiment:
                          type: object
                          properties:
                            overall:
                              type: object
                              properties:
                                score:
                                  type: number
                                  description: Sentiment score from -1 (negative) to 1 (positive)
                                polarity:
                                  type: string
                                  enum:
                                  - positive
                                  - negative
                                  - neutral
                                  - ''
                                  description: Sentiment polarity
                            title:
                              type: object
                              properties:
                                score:
                                  type: number
                                  description: Sentiment score from -1 (negative) to 1 (positive)
                                polarity:
                                  type: string
                                  enum:
                                  - positive
                                  - negative
                                  - neutral
                                  - ''
                                  description: Sentiment polarity
                            body:
                              type: object
                              properties:
                                score:
                                  type: number
                                  description: Sentiment score from -1 (negative) to 1 (positive)
                                polarity:
                                  type: string
                                  enum:
                                  - positive
                                  - negative
                                  - neutral
                                  - ''
                                  description: Sentiment polarity
                        summary:
                          type: array
                          items:
                            type: object
                            properties:
                              sentence:
                                type: string
                                description: Summary sentence
                              sentiment:
                                type: object
                                properties:
                                  score:
                                    type: number
                                    description: Sentiment score from -1 (negative) to 1 (positive)
                                  polarity:
                                    type: string
                                    enum:
                                    - positive
                                    - negative
                                    - neutral
                                    - ''
                                    description: Sentiment polarity
                        readability:
                          type: object
                          properties:
                            flesch_kincaid_grade:
                              type: number
                              description: Flesch-Kincaid grade level
                            flesch_reading_ease:
                              type: number
                              description: Flesch Reading Ease score (0-100)
                            automated_readability_index:
                              type: number
                              description: Automated Readability Index
                            difficulty_level:
                              type: string
                              enum:
                              - beginner
                              - intermediate
                              - advanced
                              - expert
                              - unknown
                              description: Difficulty level
                            target_audience:
                              type: string
                              enum:
                              - children
                              - general
                              - professional
                              - academic
                              - unknown
                              description: Target audience
                            reading_age:
                              type: number
                              description: Estimated reading age
                            avg_words_per_sentence:
                              type: number
                              description: Average words per sentence
                            avg_syllables_per_word:
                              type: number
                              description: Average syllables per word
                        keywords:
                          type: array
                          items:
                            type: string
                          description: Article keywords
                        links:
                          type: array
                          items:
                            type: object
                            properties:
                              url:
                                type: string
                                description: Link URL
                              type:
                                type: string
                                description: Link type
                        media:
                          type: array
                          items:
                            type: object
                            properties:
                              url:
                                type: string
                                description: Media URL
                              type:
                                type: string
                                description: Media type (image, video, etc.)
                        shares:
                          type: object
                          properties:
                            total:
                              type: integer
                              description: Total social shares
                            facebook:
                              type: integer
                              description: Facebook shares
                            twitter:
                              type: integer
                              description: Twitter/X shares
                            reddit:
                              type: integer
                              description: Reddit shares
                        story:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Story ID
                            uri:
                              type: string
                              description: Story endpoint URI
                        is_duplicate:
                          type: boolean
                          description: Whether this is a duplicate article
                        is_free:
                          type: boolean
                          description: Whether the article is freely accessible
                        is_breaking:
                          type: boolean
                          description: Whether this is breaking news
                        read_time:
                          type: integer
                          description: Estimated read time in minutes
                        sentences_count:
                          type: integer
                          description: Number of sentences
                        paragraphs_count:
                          type: integer
                          description: Number of paragraphs
                        words_count:
                          type: integer
                          description: Number of words
                        characters_count:
                          type: integer
                          description: Number of characters
                    description: Array of articles
                  facets:
                    type: object
                    description: Facet results (present when facet.field is specified)
                    additionalProperties: true
                  highlighting:
                    type: object
                    description: Highlighting results (present when hl=1)
                    additionalProperties: true
                  headlines:
                    type: array
                    description: Headlines (present in some responses)
                    items:
                      type: object
                      additionalProperties: true
                  meta:
                    type: object
                    description: 'Additional metadata. Present only when there is something to report about how the request was handled: `prompt` (the request used the prompt parameter) and/or `warnings` (the query was silently narrowed, e.g. ER0366 clamping a title search to the last 31 days).'
                    properties:
                      prompt:
                        type: object
                        description: How the `prompt` parameter was translated into filters. Returned by every JSON response to a request that used it (the SSE stream has no JSON envelope, so it carries none).
                        properties:
                          text:
                            type: string
                            description: The prompt as it was parsed, trimmed
                          applied:
                            type: object
                            description: Parameters the prompt was translated into — the request that actually ran
                            additionalProperties:
                              type: string
                          ignored:
                            type: array
                            description: Values understood but not used
                            items:
                              type: object
                              properties:
                                field:
                                  type: string
                                  description: Parameter that was not applied
                                value:
                                  type: string
                                  description: Value the prompt produced for it
                                reason:
                                  type: string
                                  enum:
                                  - not_found
                                  - explicit_param
                                  - unsupported_on_endpoint
                                  - invalid_date
                                  - title_too_long
                                  - title_window_clamped
                                  description: Why the value was not applied
                          cached:
                            type: boolean
                            description: true when this wording had been parsed before, so no parse fee was charged
                      warnings:
                        type: array
                        description: Non-fatal notices — the request still returned HTTP 200
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Warning code, e.g. ER0366
                            message:
                              type: string
                              description: Human-readable explanation
                            links:
                              type: object
                              additionalProperties: true
                    additionalProperties: true
                  user_input:
                    type: object
                    description: Debug info — original request parameters (present when debug=1)
                    additionalProperties: true
                required:
                - status
                - limit
                - path
                - page
                - has_next_pages
                - has_previous_page
                - request_id
                - results
              example:
                status: ok
                limit: 50
                path: /v1/news/everything
                page: 1
                has_next_pages: true
                next_page: /v1/news/everything?page=2
                has_previous_page: false
                previous_page: ''
                export:
                  json: /v1/news/everything?export=json
                  csv: /v1/news/everything?export=csv
                  rss: /v1/news/everything?export=rss
                request_id: req_abc123def456
                results:
                - id: 84029371
                  href: https://example.com/article/spacex-launch
                  published_at: '2026-03-23T14:30:00Z'
                  title: SpaceX Successfully Launches New Starship Prototype
                  description: SpaceX completed another successful test flight of its Starship rocket...
                  language: en
                  author:
                    id: 1024
                    name: Jane Smith
                  image: https://example.com/images/starship.jpg
                  categories:
                  - id: 201
                    name: Science & Technology
                    score: 0.95
                    taxonomy: iptc_mediatopics
                  topics:
                  - id: space-exploration
                    name: Space Exploration
                    score: 0.92
                  industries:
                  - id: 88
                    name: Aerospace & Defense
                  entities:
                  - id: 5012
                    name: SpaceX
                    type: organization
                    frequency: 8
                    links:
                      wikipedia: https://en.wikipedia.org/wiki/SpaceX
                  - id: 3401
                    name: Elon Musk
                    type: person
                    frequency: 3
                    links:
                      wikipedia: https://en.wikipedia.org/wiki/Elon_Musk
                  source:
                    id: 7823
                    domain: reuters.com
                    home_page_url: https://www.reuters.com
                    type: news_agency
                    location:
                      country_name: United States
                      country_code: us
                    rankings:
                      opr: 8
                  sentiment:
                    overall:
                      score: 0.65
                      polarity: positive
                    title:
                      score: 0.72
                      polarity: positive
                    body:
                      score: 0.61
                      polarity: positive
                  readability:
                    flesch_kincaid_grade: 10.2
                    flesch_reading_ease: 52.3
                    difficulty_level: intermediate
                    target_audience: general
                  keywords:
                  - spacex
                  - starship
                  - rocket
                  - launch
                  is_duplicate: false
                  is_breaking: true
                  read_time: 4
                  words_count: 847
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                description: Authentication error
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - not_ok
                    description: Response status
                  request_id:
                    type:
                    - 'null'
                    - string
                    description: Unique request identifier
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          description: HTTP status code
                        code:
                          type: string
                          description: Error code (e.g. ER0201)
                        message:
                          type: string
                          description: Human-readable error message
                        links:
                          type: object
                          properties:
                            about:
                              type: string
                              description: Link to error documentation
                        timestamp:
                          type: string
                          format: date-time
                          description: Error timestamp
              example:
                status: not_ok
                request_id: req_abc123def456
                errors:
                - status: 401
                  code: ER0201
                  message: Invalid or missing API key.
                  links:
                    about: https://docs.apitube.io/platform/news-api/http-response-codes
                  timestamp: '2026-03-23T14:30:00Z'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                description: Rate limit exceeded
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - not_ok
                    description: Response status
                  request_id:
                    type:
                    - 'null'
                    - string
                    description: Unique request identifier
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          description: HTTP status code
                        code:
                          type: string
                          description: Error code (e.g. ER0201)
                        message:
                          type: string
                          description: Human-readable error message
                        links:
                          type: object
                          properties:
                            about:
                              type: string
                              description: Link to error documentation
                        timestamp:
                          type: string
                          format: date-time
                          description: Error timestamp
              example:
                status: not_ok
                request_id: req_abc123def456
                errors:
                - status: 401
                  code: ER0201
                  message: Invalid or missing API key.
                  links:
                    about: https://docs.apitube.io/platform/news-api/http-response-codes
                  timestamp: '2026-03-23T14:30:00Z'
    servers:
    - url: https://api.apitube.io
      description: Production API server
  /v1/news/top-headlines:
    get:
      summary: Get top headlines
      description: Retrieve the most prominent and trending news articles. Supports the same filtering options as /v1/news/everything with results ranked by editorial prominence.
      operationId: getTopHeadlines
      tags:
      - News
      parameters:
      - name: api_key
        in: query
        description: Your API key (alternative to X-API-Key header)
        required: false
        schema:
          type: string
      - name: language.code
        in: query
        description: Filter by language (ISO 639-1 code). Up to 3 comma-separated values.
        required: false
        schema:
          type: string
        example: en
      - name: source.country.code
        in: query
        description: Filter by source country (ISO 3166-1 alpha-2). Up to 3 comma-separated values.
        required: false
        schema:
          type: string
        example: us
      - name: category.id
        in: query
        description: Filter by IPTC category ID.
        required: false
        schema:
          type: string
      - name: topic.id
        in: query
        description: Filter by topic ID.
        required: false
        schema:
          type: integer
      - name: published_at.start
        in: query
        description: Start of publication date range (ISO 8601 or relative).
        required: false
        schema:
          type: string
      - name: published_at.end
        in: query
        description: End of publication date range (ISO 8601 or relative).
        required: false
        schema:
          type: string
      - name: per_page
        in: query
        description: Number of results per page.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
      - name: page
        in: query
        description: Page number.
        required: false
        schema:
          type: integer
          minimum: 1
          default: 1
      responses:
        '200':
          description: Successful response with top headline articles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      summary: Get top headlines
      tags:
      - News
      description: Returns top headlines — breaking and important news from high-authority sources (OPR rank >= 5). Supports the same filtering, faceting, highlighting, and export options as /v1/news/everything.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  minLength: 3
                  maxLength: 500
                  description: 'Plain-language description of the news you want, e.g. "Elon Musk, Tesla, news for the last 10 days". It is translated into the regular filters below before the search runs, and the resulting parameters are returned in meta.prompt. Explicit parameters always win over the prompt. Costs 2 extra points when the wording has not been parsed before (repeats are served from cache). Available on Basic and above — on Free and Starter the request fails with 403 ER0706. Errors: ER0706 (plan), ER0800 (length), ER0801 (translation service unavailable), ER0802 (nothing usable in the prompt).'
                page:
                  type: integer
                  minimum: 1
                  default: 1
                  description: Page number for pagination
                per_page:
                  type: integer
                  minimum: 1
                  maximum: 250
                  default: 100
                  description: Number of results per page (max 250; the Free plan is capped at 10 and Starter at 50)
                sort.by:
                  type: string
                  enum:
                  - published_at
                  - relevance
                  - engagement
                  - quality
                  - controversy
                  - trust
                  - id
                  - new
                  - created_at
                  - source.rank.opr
                  - sentiment.overall.score
                  - sentiment.title.score
                  - sentiment.body.score
                  - read_time
                  - sentences_count
                  - paragraphs_count
                  - characters_count
                  - media.images.count
                  - media.videos.count
                  - media.images.width.min
                  - media.images.width.max
                  - media.images.height.min
                  - media.images.height.max
                  - media_richness
                  - shares.facebook.min
                  - shares.facebook.max
                  - shares.twitter.min
                  - shares.twitter.max
                  - shares.reddit.min
                  - shares.reddit.max
                  default: published_at
                  description: Field to sort results by
                sort.order:
                  type: string
                  enum:
                  - asc
                  - desc
                  default: desc
                  description: Sort order
                article.id:
                  type: string
                  description: Comma-separated article IDs (max 5)
                  example: '12345'
                title:
                  type: string
                  minLength: 2
                  maxLength: 100
                  description: 'Search in article titles. Supports phrase search with proximity: "climate change"~2. Title search is limited to a 31-day published_at window: without published_at.start / published_at.end the last 31 days are searched, a wider explicit range returns ER0110.'
                ignore.title:
                  type: string
                  minLength: 2
                  maxLength: 100
                  description: Exclude articles containing this text in the title
                title_starts_with:
                  type: string
                  minLength: 2
                  maxLength: 100
                  description: Filter articles whose title starts with the given text. Same 31-day window limit as title
                title_ends_with:
                  type: string
                  minLength: 2
                  maxLength: 100
                  description: Filter articles whose title ends with the given text. Same 31-day window limit as title
                title_pattern:
                  type: string
                  minLength: 2
                  maxLength: 200
                  description: Filter articles whose title matches the given pattern. Same 31-day window limit as title
                published_at:
                  type: string
                  description: 'Exact date (creates 24-hour range). Format: YYYY-MM-DD or ISO 8601'
                  example: '2025-01-15'
                published_at.start:
                  type: string
                  description: 'Start of date range. Format: YYYY-MM-DD or ISO 8601. Combined with a title search the range may not exceed 31 days (ER0110)'
                  example: '2025-01-01'
                published_at.end:
                  type: string
                  description: 'End of date range. Format: YYYY-MM-DD or ISO 8601. Combined with a title search the range may not exceed 31 days (ER0110)'
                  example: '2025-01-31'
                language.code:
                  type: string
                  description: Comma-separated ISO 639-1 language codes (max 3)
                  example: en
                ignore.language.code:
                  type: string
                  description: Exclude articles in these languages (comma-separated, max 3)
                  example: zh,ar
                source.country.code:
                  type: string
                  description: Filter by source country ISO 3166-1 alpha-2 codes (comma-separated, max 3)
                  example: us
                ignore.source.country.code:
                  type: string
                  description: Exclude sources from these countries (comma-separated, max 3)
                  example: us
                source.rank.opr.min:
                  type: integer
                  minimum: 0
                  description: Minimum Open PageRank score
                source.rank.opr.max:
                  type: integer
                  minimum: 0
                  description: Maximum Open PageRank score
                source.id:
                  type: string
                  description: Comma-separated source IDs (max 3)
                  example: '100'
                ignore.source.id:
                  type: string
                  description: Exclude these source IDs (comma-separated, max 3)
                source.domain:
                  type: string
                  description: Comma-separated source domains (max 3)
                  example: nytimes.com
                ignore.source.domain:
                  type: string
                  description: Exclude these source domains (comma-separated, max 3)
                source.bias:
                  type: string
                  description: 'Filter by media bias (comma-separated). Values: left, center, right'
                  example: left
                ignore.source.bias:
                  type: string
                  description: 'Exclude sources with this media bias (comma-separated). Values: left, center, right'
                  example: right
                is_premium_source:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter by premium source status
                is_verified_source:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter by verified source status
                category.id:
                  type: string
                  description: Comma-separated category IDs (max 3)
                  example: iab-1
                ignore.category.id:
                  type: string
                  description: Exclude these categories (comma-separated, max 3)
                topic.id:
                  type: string
                  description: Comma-separated topic IDs (max 3)
                  example: technology
                ignore.topic.id:
                  type: string
                  description: Exclude these topics (comma-separated, max 3)
                industry.id:
                  type: string
                  description: Comma-separated industry IDs (max 3)
                  example: '1'
                ignore.industry.id:
                  type: string
                  description: Exclude these industries (comma-separated, max 3)
                entity.id:
                  type: string
                  description: Comma-separated entity IDs (max 3)
                  example: '12345'
                ignore.entity.id:
                  type: string
                  description: Exclude these entity IDs (comma-separated, max 3)
                entity.sentiment.polarity:
                  type: string
                  enum:
                  - positive
                  - negative
                  - neutral
                  description: Filter by sentiment polarity toward the entity (combine with entity.id or *.name; standalone = any entity)
                entity.sentiment.score.min:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Minimum sentiment score toward the entity
                entity.sentiment.score.max:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Maximum sentiment score toward the entity
                person.name:
                  type: string
                  maxLength: 120
                  description: Filter by person name (comma-separated, max 3)
                  example: Elon Musk
                ignore.person.name:
                  type: string
                  maxLength: 120
                  description: Exclude articles mentioning these persons (comma-separated, max 3)
                organization.name:
                  type: string
                  maxLength: 120
                  description: Filter by organization name (comma-separated, max 3)
                  example: Google
                ignore.organization.name:
                  type: string
                  maxLength: 120
                  description: Exclude articles mentioning these organizations (comma-separated, max 3)
                location.name:
                  type: string
                  maxLength: 120
                  description: Filter by location name (comma-separated, max 3)
                  example: New York
                ignore.location.name:
                  type: string
                  maxLength: 120
                  description: Exclude articles mentioning these locations (comma-separated, max 3)
                brand.name:
                  type: string
                  maxLength: 120
                  description: Filter by brand name (comma-separated, max 3)
                ignore.brand.name:
                  type: string
                  maxLength: 120
                  description: Exclude articles mentioning these brands (comma-separated, max 3)
                disaster.name:
                  type: string
                  maxLength: 120
                  description: Filter by natural disaster name (comma-separated, max 3)
                ignore.disaster.name:
                  type: string
                  maxLength: 120
                  description: Exclude articles mentioning these disasters (comma-separated, max 3)
                disease.name:
                  type: string
                  maxLength: 120
                  description: Filter by disease name (comma-separated, max 3)
                ignore.disease.name:
                  type: string
                  maxLength: 120
                  description: Exclude articles mentioning these diseases (comma-separated, max 3)
                event.name:
                  type: string
                  maxLength: 120
                  description: Filter by event name (comma-separated, max 3)
                ignore.event.name:
                  type: string
                  maxLength: 120
                  description: Exclude articles mentioning these events (comma-separated, max 3)
                sport.name:
                  type: string
                  maxLength: 120
                  description: Filter by sport name (comma-separated, max 3)
                ignore.sport.name:
                  type: string
                  maxLength: 120
                  description: Exclude articles mentioning these sports (comma-separated, max 3)
                event.type:
                  type: string
                  description: 'Comma-separated event types (max 5). Values: merger-acquisition, ipo, layoffs, bankruptcy, product-launch, funding-round, earnings, partnership, executive-change, lawsuit, data-breach, recall, expansion, closure, stock-movement, contract-award, spin-off, regulatory-action, election, protest, crime, terrorism, accident, policy-change, scandal, death, award-ceremony, conflict, diplomacy, health-crisis, migration, human-rights, earthquake, hurricane, flood, wildfire, tornado, tsunami, volcanic-eruption, drought, climate-event, pollution, wildlife-event, avalanche'
                  example: ipo
                event.category:
                  type: string
                  enum:
                  - business
                  - society
                  - environment
                  description: Filter by event category
                ignore.event.type:
                  type: string
                  description: Exclude these event types (comma-separated, max 5)
                sentiment.overall.score:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Exact overall sentiment score
                sentiment.overall.score.min:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Minimum overall sentiment score
                sentiment.overall.score.max:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Maximum overall sentiment score
                sentiment.overall.polarity:
                  type: string
                  enum:
                  - positive
                  - negative
                  - neutral
                  description: Overall sentiment polarity
                sentiment.title.score:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Exact title sentiment score
                sentiment.title.score.min:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Minimum title sentiment score
                sentiment.title.score.max:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Maximum title sentiment score
                sentiment.title.polarity:
                  type: string
                  enum:
                  - positive
                  - negative
                  - neutral
                  description: Title sentiment polarity
                sentiment.body.score:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Exact body sentiment score
                sentiment.body.score.min:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Minimum body sentiment score
                sentiment.body.score.max:
                  type: number
                  minimum: -1
                  maximum: 1
                  description: Maximum body sentiment score
                sentiment.body.polarity:
                  type: string
                  enum:
                  - positive
                  - negative
                  - neutral
                  description: Body sentiment polarity
                sentiment.mixed:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter for mixed sentiment (title polarity != body polarity)
                sentiment.consistent:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter for consistent sentiment (title polarity == body polarity)
                is_clickbait:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Filter by clickbait detection
                sentiment_gap.min:
                  type: number
                  minimum: 0
                  maximum: 2
                  description: Minimum sentiment gap between title and body
                sentiment_gap.max:
                  type: number
                  minimum: 0
                  maximum: 2
                  description: Maximum sentiment gap between title and body
                media.images.count:
                  type: integer
                  minimum: 0
                  description: Exact number of images
                media.images.count.min:
                  type: integer
                  minimum: 0
                  description: Minimum number of images
                media.images.count.max:
                  type: integer
                  minimum: 0
                  description: Maximum number of images
                media.images.width.min:
                  type: integer
                  minimum: 0
                  description: Minimum image width in pixels
                media.images.width.max:
                  type: integer
[...]
